<!DOCTYPE html>
<html>
  <head>
    <title>GoalSetter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>GOALING APP</h1>
    <aside class="welcome">
      <% if logged_in? %>
        <p><%= "Welcome #{current_user.username}" %></p>
        <form action="<%=session_url%>" method="post">
          <%= auth_token %>
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Log Out</button>
        </form>
      <% else %>
        <p><%= link_to 'Sign Up', new_user_url %></p>
        <p>or</p>
        <p><%= link_to 'Log In', new_session_url  %></p>
      <% end %>
    </aside>

    <%= yield %>

  </body>
</html>
